.apptitle{
    font-family: 'Work Sans', sans-serif;
    font-size: 100px;
}



.content{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    position: fixed;
    padding-left: 10%;
    padding-top: 10%;
    margin-left: 34%;
    
}


.space{
    display: inline-block;
    height: auto;
    width: 10px;
}
.content .buttons{
    justify-content: space-between;
    width: 100%;
    margin-left: -25%;
}

.signin, .signup{
    background-color: #5465FF;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 50px;
    border:0.1em solid #5465FF;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 15px 20px;
    transition-duration: 0.4s;
    display: inline-block;
}

.signin:hover, .signup:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: black;
}


#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
}

.Form{
    position: fixed;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
}

#myForm{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 730px;
    margin-top: 200px;
    background-color: #fff;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

#myFormsignup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 730px;
    margin-top: 200px;
    background-color: #fff;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);

}

.container .text{
    font-size: 35px;
    font-weight: 600px;
    text-align: center;
}

.container form{
    margin-top: -20px;
}

.container form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

form .data input{
    height: 100%;
    width: 100%;
    padding-left: 5px;
    font-size: 17px;
    border: 1px solid lightgrey;
    font-family: 'Work Sans', sans-serif;
}

form .data select{
    height: 100%;
    width: 100%;
    padding-left: 5px;
    font-size: 17px;
    border: 1px solid lightgrey;
    font-family: 'Work Sans', sans-serif;
}

form .data label{
    font-size: 18px;
}

form .logbutn{
    margin: 20px 0;
    height: 60px;
    width: 100%;
    background-color: #5465FF;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

form .logbutn button{
    height: 100%;
    width: 100%;
    background-color: #5465FF;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 35px;
    border:0.1em solid #5465FF;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.4s;
    display: inline-block;
}

form .logbutn button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: black;
    
}

.invalid{
    display: none;
    color: red;
    transition-duration: 1s;
}